.home{
 width: 80%;
}
.experience{
  width: 80%;
 }
 .education{
  width: 80%;
 }
 .skills{
  width: 80%;
 }
img{
  width: 200px;
}
.content{
  margin-top: 30px;
}
.Sideheading{
  font-weight: bold;
}
h6{
  font-weight: bold;
}
h4{
  font-weight: bold;
}
.bar123{
  position: sticky;
}