.home{
 width: 80%;

}
.icondiv{
  margin-left: 350px;
  position: relative;
}
.experience{
  width: 80%;
 }
 .education{
  width: 80%;
 }
 .skills{
  width: 80%;
 }
img{
  width: 150px;
}
.content{
  margin-top: 100px;
}
.Sideheading{
  font-weight: bold;
}
h6{
  font-weight: bold;
}
h4{
  font-weight: bold;
}
